.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
    border: 3px solid #5ccdef;
    border-radius: 5px;
    padding: 20px 5px;
}